@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.page-body {
  min-height: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #f2f2f2;
  padding: 0;
  margin: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-index {
  flex-grow: 1;
}

.button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: block;
}

.button-big {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: block;
}

.button-brown {
  background: #756157;
}

.button-brown:hover {
  background: #615048;
}

.button-brown:focus {
  background: #615048;
}

.button-brown:active {
  background: #756157;
  color: #ffffff4d;
}

.button-brown:disabled {
  background: #e5e5e5;
}

.button-blue {
  background: #82b3d3;
}

.button-blue:hover {
  background: #68a2ca;
}

.button-blue:focus {
  background: #68a2ca;
}

.button-blue:active {
  background: #82b3d3;
  color: #ffffff4d;
}

.button-blue:disabled {
  background: #e5e5e5;
}

.button-green {
  background: #7db54f;
}

.button-green:hover {
  background: #6c9e42;
}

.button-green:focus {
  background: #6c9e42;
}

.button-green:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-green:disabled {
  background: #e5e5e5;
}

a:disabled,
input:disabled {
  opacity: 70%;
  cursor: default;
}

.navigation {
  display: flex;
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

.logo-sedona {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.logo-sedona:hover {
  opacity: 70%;
}

.navigation-list {
  display: flex;
  max-width: 746px;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 168px;
  box-sizing: border-box;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
  max-width: 180px;
}

.navigation-link:hover {
  opacity: 70%;
}

.navigation-link-current {
  text-decoration: underline;
  text-underline-offset: 23px;
  text-decoration-color: #756157;
}

.navigation-list-user {
  display: flex;
  align-items: center;
  max-width: 356px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.navigation-list-user-link {
  display: block;
  padding: 20px 12px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navigation-list-user-link:hover {
  opacity: 70%;
}

.navigation-list-user-item {
  min-width: 44px;
}

.navigation-list-user-item-search .navigation-list-user-link {
  background-image: url("../images/icons/header-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-list-user-item-search-favorite .navigation-list-user-link {
  background-image: url("../images/icons/header-favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorite-number {
  display: flex;
  align-items: center;
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 10px;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 4px 5px 5px 5px;
  background-color: #7db54f;
  box-sizing: border-box;
}

.header-button {
  margin-left: 20px;
}

.hero {
  position: relative;
  background: #82b3d3 url("../images/background/hero-background.jpeg") no-repeat center center;
  min-height: 485px;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.hero::after {
  content: "";
  display: block;
  width: 1200px;
  height: 56px;
  background: url(../images/hero-bottom-effect.svg) no-repeat;
  position: absolute;
  bottom: 0;
}

.title-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages-main-idea {
  margin: 0 auto;
  max-width: 650px;
  padding: 69px 0 90px;
}

.advantages-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.advantages-description {
  min-width: 651px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-container-img-title {
  width: 400px;
  padding: 93px 0 83px;
}

.advantages-item-container {
  width: 400px;
  padding: 103px 0 111px;
}

.advantages-item-container-img {
  height: 100%;
  width: 800px;
  overflow: hidden;
}

.advantages-item-img {
  display: block;
  height: 100%;
  width: auto;
}

.advantages-item-title {
  position: relative;
  max-width: 172px;
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -33px;
  left: 50%;
  margin-left: -30px;
}

.background-first .advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -33px;
  left: 50%;
  margin-left: -30px;
}

.background-second .advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -33px;
  left: 50%;
  margin-left: -30px;
}

.advantages-item-text {
  width: 230px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.background-first {
  background-color: #82B3D3;
  color: #ffffff;
}

.background-second {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-recommended-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-recommended-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 182px 85px 81px;
  box-sizing: border-box;
}

.advantages-recommended-item-house {
  position: relative;
}

.advantages-recommended-item-house::before {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  background-image: url(../images/icons/advantages-recomendation-house.svg);
  background-repeat: no-repeat;
}

.background-third {
  background-color: #ffffff;
}

.advantages-recommended-item-food {
  position: relative;
}

.advantages-recommended-item-food::before {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  background-image: url(../images/icons/advantages-recomendation-food.svg);
  background-repeat: no-repeat;
}

.advantages-recommended-item-souvenirs {
  position: relative;
}

.advantages-recommended-item-souvenirs::before {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 64px;
  height: 76px;
  background-image: url(../images/icons/advantages-recomendation-souvenir.svg);
  background-repeat: no-repeat;
}

.advantages-recommended-item-title {
  padding: 0;
  margin: 0 auto;
  max-width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-recommended-item-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  max-width: 230px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.search-hotels {
  margin: 0 auto;
  width: 592px;
  text-align: center;
  padding: 96px 0;
}

.search-hotels-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-hotels-description {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotels-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.subscribe-main-page {
  background: #82b3d3 url("../images/background/subscribe-background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 96px 0 104px;
}

.subscribe-catalog-page {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

.subscribe-wrapper {
  max-width: 592px;
  margin: 0 auto;
  padding: 0;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 684px;
  margin: 0 auto;
  box-sizing: border-box;
}

.subscribe-forml:disabled {
  opacity: 70%;
  cursor: default;
}

.subscibe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0 24px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.subscribe-form-email {
  margin: 0;
  padding: 0;
  width: 452px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.subscribe-form-email::placeholder {
  position: absolute;
  margin-left: 20px;
  margin-top: 14px;
}

.subscribe-form-email:hover {
  background-color: #e6e6e6;
}

.subscribe-form-email:active {
  background-color: #f2f2f2;
  border: 2px solid #000000
}

.button-subscribe {
  margin: 0;
  width: 232px;
  text-decoration: none;
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 36px;
  border-style: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding: 45px 0 35px;
}

.footer-social-list {
  display: flex;
  width: 189px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.social-item {
  min-width: 47px;
}

.social-link {
  padding: 13px 12px;
  color: rgba(131, 179, 211, 1);
}

.social-link:hover {
  color: rgba(104, 162, 202, 1);
}

.social-link:focus {
  color: rgba(104, 162, 202, 1);
}

.social-link:focus {
  color: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-right: 45px;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-htmlacademy {
  color: #000000;
}

.logo-htmlacademy:hover {
  color: #756157;
}

.logo-htmlacademy:focus {
  color: #756157;
}

.logo-htmlacademy:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2cc;
  display: none;
}

.modal-container-open {
  display: block;
}

.modal {
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
}

.modal-search {
  position: relative;
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 54px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e64d;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form-field-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal-form-field-label-in {
  margin-right: 24px;
}

.modal-form-field-label-out {
  margin-right: 18px;
}

.modal-form-field-label-adults {
  margin-right: 46px;
}

.modal-form-field-label-childs {
  margin-right: 50px;
  padding-right: 36px;
}

.modal-form-field-date {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  margin: 0;
  margin-bottom: 22px;
}

.modal-form-field-date-input {
  border-radius: 4px;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 12px 40px 12px 20px;
  background-image: url("../images/icons/modal-calendar.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.modal-form-field-date-input:hover {
  background-color: #e6e6e6;
}

.modal-form-field-date-input:active {
  background-color: #f2f2f2;
  border: 2px solid #000000;
}

.modal-form-field-date-input::placeholder {
  color: #000000;
}

.modal-form-field-error-text {
  grid-column: 2/3;
  grid-row: 2/3;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FF5757;
  padding: 0 20px;
  margin: 0;
}

.modal-form-field-available-rooms-text {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  padding: 0 20px;
  margin: 0;
}

.modal-form-field-number-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  margin-top: 19px;
}

.modal-form-field-number {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-form-field-people {
  display: flex;
  width: 110px;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.modal-form-field-number-input {
  padding: 14px 10px;
  text-align: center;
  height: 100%;
  width: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.modal-form-field-number-input::-webkit-outer-spin-button,
.modal-form-field-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.minus-button {
  width: 40px;
  height: 48px;
  background-color: transparent;
  background-image: url(../images/icons/modal-button-minus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-style: hidden;
  cursor: pointer;
  box-sizing: border-box;
}

.plus-button {
  width: 40px;
  height: 48px;
  background-color: transparent;
  background-image: url(../images/icons/modal-button-plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-style: hidden;
  cursor: pointer;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  margin-left: -74px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 19px 18px 24px 22px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-text::after {
  content: "";
  display: block;
  width: 19px;
  height: 9px;
  background-image: url(../images/icons/modal-tooltip-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 100%;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.button-search-form-container {
  display: flex;
}

.button-search {
  flex-grow: 1;
  font-size: 20px;
  line-height: 24px;
  padding: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.hotels-filters {
  background: #82b3d3 url("../images/background/hotels-filter-background.jpeg") no-repeat center center;
  min-height: 412px;
  background-size: cover;
  color: #ffffff;
  padding-top: 32px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.hotel-filters-conteiner,
.result-search-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 85px;
  margin-bottom: 4px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  position: relative;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 12px;
  bottom: 5px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 29px;
}

.breadcrumbs-link:hover {
  color: #ffffff99;
}

.breadcrumbs-link:active {
  color: #ffffff4d;
}

.hotels-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotels-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-hotels-filters-form {
  display: flex;
  flex-wrap: wrap;
}

.catalog-hotels-filters-form :disabled {
  opacity: 70%;
  cursor: default;
}

.hotels-filter-infrastructure {
  padding: 0;
  margin: 0;
  margin-right: 73px;
  border: none;
}

.control {
  position: relative;
  display: block;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.control-input[type="checkbox"]:hover + .control-mark {
  background: #d9d9d9;
  border: 3px solid #d9d9d9;
}

.control-input[type="checkbox"]:focus + .control-mark {
  border: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:active + .control-mark {
  background: #d9d9d9;
  border: 3px solid #d9d9d9;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 10px;
  background-image: url(../images/icons/control-input-V.svg);
  left: 1px;
  top: 3px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 36px;
}

.control:hover .control-label {
  color: #d9d9d9;
}

.control:active .control-label {
  color: #d9d9d9;
}

.hotels-filter-type-house {
  padding: 0;
  margin: 0;
  margin-right: 152px;
  border: none;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:hover + .control-mark {
  background: #d9d9d9;
  border: 3px solid #d9d9d9;
}

.control-input[type="radio"]:focus + .control-mark {
  border: 3px solid #83b3d3;
}

.control-input[type="radio"]:active + .control-mark {
  background: #D9D9D9;
  border: 3px solid #d9d9d9;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.hotels-filter-cost {
  max-width: 288px;
  padding: 0;
  margin: 0;
  border: none;
}

.range-wrapper-inputs {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2px;
  position: relative;
}

.range-label-for {
  font-size: 18px;
  line-height: 24px;
  color: #0000004d;
  position: absolute;
  left: 106px;
  top: 12px;
  z-index: 1;
}

.range-label-to {
  font-size: 18px;
  line-height: 24px;
  color: #0000004d;
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 1;
}

.range-input {
  width: 143px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 9px 37px 9px 16px;
  border: 3px solid #ffffff;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
}

.range-input:hover {
  border: 3px solid #e6e6e6;
  background: #e6e6e6;
}

.range-input:focus {
  border: 3px solid #83b3d3;
  background: #E6E6E6;
}

.range-input:active {
  border: 2px solid #000000;
}

.range-input-from {
  border-radius: 4px 0 0 4px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 43px;
  margin-bottom: 8px;
  background-color: #ffffff4d;
}

.range-bar {
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background: #E6E6E6;
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
}

.range-toggle:active {
  border: 2px solid #82b3d3;
}

.toggle-from {
  top: -8px;
  left: 0;
}

.toggle-to {
  top: -8px;
  right: 61px;
}

.catalog-filter-buttons {
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding-top: 56px;
}

.button-apply {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
  min-width: 192px;
}

.button-reset {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 58px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 192px;
  margin-top: 16px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:focus {
  border: 3px solid #83b3d3;
}

.button-reset:active {
  color: #ffffff4d;
}

.button-reset:disabled {
  color: #ffffff1a;
}

.result-search-control-container {
  display: flex;
  margin-bottom: 40px;
}

.hotels-filter-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 33px;
}

.result-search-quantity-wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 338px;
  align-items: center;
}

.result-search-title {
  padding: 6px 0;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 8px;
}

.result-search-quantity {
  margin: 0;
  padding: 6px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 200px;
}

.select-control {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 12px 40px 12px 19px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  min-width: 292px;
  max-height: 48px;
  margin-right: 70px;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  opacity: 0.3;
  cursor: default;
}

.display-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-left: auto;
}

.display-view-button {
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.display-view-button:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.display-view-button:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.display-view-button-bar {
  background-image: url(../images/icons/display-view-bar.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.display-view-button-preveiw {
  background-image: url(../images/icons/display-view-preveiw.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.display-view-button-list {
  background-image: url(../images/icons/display-view-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  row-gap: 19px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 72px;
  position: relative;
}

.hotel-card-list::after {
  content: "";
  display: block;
  width: 1060px;
  height: 1px;
  border-top: 1px solid #E6E6E6;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.hotel-card-item {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}


.hotel-card-image {
  display: block;
  object-fit: cover;
  margin-bottom: 16px;
}

.hotel-card-image:hover {
  opacity: 70%;
}

.hotel-card-link-title {
  color: inherit;
  text-decoration: none;
}

.hotel-card-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.hotel-card-title:hover {
  opacity: 70%;
}

.hotel-card-type-hotel {
  padding: 0;
  margin: 0;
  color: #333333;
  max-width: 140px;
  margin-bottom: 16px;
}

.hotel-card-price {
  color: #333333;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  max-width: 140px;
  margin-bottom: 16px;
}

.hotel-card-more {
  min-width: 140px;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.hotel-card-favorite {
  min-width: 140px;
  padding: 8px 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.hotel-card-favorite-active {
  background-color: #7DB54F;
}

.hotel-card-kind-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
}

.hotel-card-more-favorite {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  max-width: 300px;
  align-items: center;
}

.rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 300px;
  align-items: center;
}

.stars {
  height: 17px;
  background: url(../images/icons/star.svg) space 0 0;
  margin: 0;
}

.stars-one {
  width: 25px;
}

.stars-two {
  width: 40px;
}

.stars-three {
  width: 65px;
}

.stars-four {
  width: 89px;
}

.stars-five {
  width: 105px;
}

.stars-title {
  min-width: 140px;
  font-weight: 400;
  padding: 8px 21px 8px 24px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #f2f2f2f7;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.pagination-item {
  margin: 0;
  margin-right: 8px;
  margin-top: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;
  padding: 12px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-dot {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 16px 22px;
}
