@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #f2f2f2;
  padding: 0;
  margin: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-index {
  flex-grow: 1;
}

.button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  background: #756157;
  text-decoration: none;
  display: block;
}

.button-big {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  background: #756157;
  text-decoration: none;
  display: block;
}

.page-header {}

.navigation {
  display: flex;
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

.logo-sedona {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.navigation-list {
  display: flex;
  width: 600px;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 128px;
  box-sizing: border-box;
}

.navigation-item {}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
  max-width: 180px;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 23px;
  text-decoration-color: #756157;
}

.navigation-list-user {
  display: flex;
  align-items: center;
  max-width: 268px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.navigation-list-user-item {
  margin-left: 20px;
}

.navigation-list-user-link {
  display: block;
  padding: 20px 12px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navigation-list-user-item-search .navigation-list-user-link {
  background-image: url("../images/icons/header-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-list-user-item-search-favorite .navigation-list-user-link {
  background-image: url("../images/icons/header-favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorite-number {
  display: flex;
  align-items: center;
  position: absolute;
  right: -4px;
  top: -6px;
  font-size: 10px;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 4px 5px 5px 5px;
  background-color: #7DB54F;
  box-sizing: border-box;
}

.hero {
  position: relative;
  background: #82B3D3 url("../images/background/hero-background.jpeg") no-repeat center center;
  min-height: 500px;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.hero::after {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background: url(../images/hero-bottom-effect.svg) no-repeat;
  position: absolute;
  bottom: 0;
}

.title-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages {}

.advantages-main-idea {
  margin: 0 auto;
  max-width: 650px;
  padding: 69px 0 90px;
}

.advantages-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.advantages-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-item-container {
  width: 400px;
  padding: 103px 0 121px;

}

.advantages-item-container-img {
  height: 100%;
  width: 800px;
  overflow: hidden;
}

.advantages-item-img {
  height: 100%;
  width: auto;
}

.advantages-item-title {
  position: relative;
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 62px;

}

.advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -31px;
  left: 50%;
  margin-left: -30px;

}

.background-first .advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -31px;
  left: 50%;
  margin-left: -30px;
}

.background-second .advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -31px;
  left: 50%;
  margin-left: -30px;
}

.advantages-item-text {
  width: 230px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.background-first {
  background-color: #82B3D3;
  color: #ffffff;
}

.background-second {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-recommended {}

.advantages-recommended-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-recommended-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 182px 85px 81px;
  box-sizing: border-box;
}

.advantages-recommended-item-house {
  position: relative;
}

.advantages-recommended-item-house::before {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  background-image: url(../images/icons/advantages-recomendation-house.svg);
  background-repeat: no-repeat;
}

.background-third {
  background-color: #ffffff;
}

.advantages-recommended-item-food {
  position: relative;
}

.advantages-recommended-item-food::before {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  background-image: url(../images/icons/advantages-recomendation-food.svg);
  background-repeat: no-repeat;
}

.advantages-recommended-item-souvenirs {
  position: relative;
}

.advantages-recommended-item-souvenirs::before {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  background-image: url(../images/icons/advantages-recomendation-souvenir.svg);
  background-repeat: no-repeat;
}

.advantages-recommended-item-title {
  padding: 0;
  margin: 0 auto;
  max-width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
}

.advantages-recommended-item-text {
  max-width: 230px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.search-hotels {
  margin: 0 auto;
  width: 592px;
  text-align: center;
  padding: 96px 0;
}

.search-hotels-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.search-hotels-description {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotels-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;

}

.subscribe-main-page {
  background: #82B3D3 url("../images/background/subscribe-background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 96px 0 104px;
}

.subscribe-catalog-page {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 684px;
  margin: 0 auto;
  box-sizing: border-box;
}

.subscibe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-form-email {
  margin: 0;
  padding: 14px 20px;
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #E6E6E6;
  outline: none;
  border-style: none;

}

.button-subscribe {
  margin: 0;
  width: 232px;
  background-color: #82B3D3;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-footer {}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding: 45px 0 35px;

}

.footer-social-list {
  display: flex;
  width: 189px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

}

.social-item {
  min-width: 47px;

}

.social-link {
  padding: 13px 12px;
  color: rgba(131, 179, 211, 1);
}

.social-link:hover {
  color: rgba(104, 162, 202, 1);
}

.social-link:focus {
  color: rgba(104, 162, 202, 1);
}

.social-link:focus {
  color: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-htmlacademy {
  color: #000000;
}

.logo-htmlacademy:hover {
  color: rgba(117, 97, 87, 1);
}

.logo-htmlacademy:focus {
  color: rgba(117, 97, 87, 1);
}

.logo-htmlacademy:active {
  color: rgba(117, 97, 87, 0.3);
}

.hotels-filters {

  background: #82B3D3 url("../images/background/hotels-filter-background.jpeg") no-repeat center center;
  min-height: 400px;
  background-size: cover;
  color: #ffffff;
  padding-top: 32px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.hotel-filters-conteiner,
.result-search-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  position: relative;
}



.breadcrumbs-item::after {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 12px;
  bottom: 5px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 29px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-hotels-filters-form {
  display: flex;
}

.hotels-filter-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.hotels-filter-type-house {
  width: 150px;
  margin-right: 140px;
}

.hotels-filter-cost {
  width: 288px;
  padding: 0;
}

.filter-cost-item {}

.filter-cost-item-input {
  width: 143px;
  font-size: 12px;
  line-height: 20px;
  padding: 12px 0;
}

.hotel-filter-cost-list {
  display: flex;
}

.hotels-filter-list,
.catalog-filter-list,
.hotel-filter-cost-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-buttons {
  margin-left: auto;
}

.button-apply {
  padding: 8px 50px;
  background-color: #82B3D3;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
}

.button-reset {
  padding: 8px 58px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.catalog-hotels-filters {
  display: flex;

}

.result-search-control-container {
  display: flex;
  margin-bottom: 40px;

}

.hotels-filter-title {
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
}



.control {
  line-height: 23px;
}



.result-search-title {
  padding: 6px 0;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 200px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  min-width: 292px;
  padding: 13px 23px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.display-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-left: auto;
}

.display-view-button {
  width: 48px;
  height: 48px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}
.display-view-button-active {
  border: 2px solid rgba(0, 0, 0, 1) ;
}

.display-view-button:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.display-view-button:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.display-view-button:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.display-view-button-bar {
  background-image: url(../images/icons/display-view-bar.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.display-view-button-preveiw {
  background-image: url(../images/icons/display-view-preveiw.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.display-view-button-list {
  background-image: url(../images/icons/display-view-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  position: relative;
}

.hotel-card-list::after {
  content: "";
  display: block;
  width: 1060px;
  height: 1px;
  border-top: 1px solid #E6E6E6;
  position: absolute;
 bottom: -40px;
 left: 0;
}


.hotel-card-item {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;

}

.hotel-card-link {}

.hotel-card-image {
  display: block;
  object-fit: cover;
  margin-bottom: 16px;
}

.hotel-card-link-title {
  color: inherit;
  text-decoration: none;
}

.hotel-card-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.hotel-card-type-hotel {
  padding: 0;
  margin: 0;
  color: #333333;
  max-width: 140px;
  margin-bottom: 16px;
}

.hotel-card-price {
  color: #333333;
  font-weight: normal;
  max-width: 140px;
  margin-bottom: 16px;
}

.hotel-card-more {
  min-width: 140px;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.hotel-card-favorite {
  min-width: 140px;
  background-color: #82B3D3;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
 }

 .hotel-card-favorite-active {
  background-color: #7DB54F;
 }
 .hotel-card-kind-price
  {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 300px;
   margin: 0;
   padding: 0;
 }

.hotel-card-more-favorite {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  max-width: 300px;
  align-items: center;
}

.rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 300px;
  align-items: center;
}

.stars {
  height: 17px;
  background: url(../images/icons/star.svg) space 0 0;
  margin: 0;
}

.stars-one {
  width: 25px;
}

.stars-two {
  width: 40px;
}

.stars-three {
  width: 65px;
}

.stars-four {
  width: 85px;
}
.stars-five {
  width: 105px;
}

.stars-title {
  min-width: 140px;
  font-weight: 400;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  min-width: 140px;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}


.pagination-item {
  margin: 0;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 4px;
  text-align: center;
  background: #82B3D3;
  text-decoration: none;
  box-sizing: border-box;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-current:hover {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-current:focus {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-current:active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-dot {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background: #ffffff;
}
.pagination-dot:hover {
  background: #ffffff;
}
.subscribe-catalog-page {
  min-height: 400px;
  text-align: center;
}
