@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #f2f2f2;
  padding: 0;
  margin: 0;
}

.button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  background: #756157
}

.button-big {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  background: #756157
}

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  width: 1200px;
}

.navigation {
  display: flex;
}

.logo {
  width:140px;
  padding-left: 70px;
  padding-right: 44px;
}

.navigation-list {
  display: flex;
  width:339px;
  padding: 16px 20px;
  margin: 0;
  list-style: none;
}

.navigation-item {}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  /* после размещения в header выставить больше значение offset*/
  text-underline-offset: 5px;
  text-decoration-color: #756157;
}

.navigation-list-user {
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.navigation-list-user-item {}

.favorite-number {
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 4px 5px 5px 5px;
  background-color: #7DB54F;
}

.navigation-list-user-link {
  color: #ffffff;
  text-decoration: none;
}

.hero {
  background: #82B3D3 url("../images/background/hero-background.jpeg") no-repeat center center;
  min-height: 500px;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.title-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages {}

.advantages-text {
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 620px;
}

.advantages-description {
  padding: 0;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 651px;
}

.advantages-list {

  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.advantages-item {
  width: 400px;
  min-height: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-real-city {
position: absolute;
 right:0;

}

.advantages-item-title {
 padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item-text {}

.background-first {
  background-color: #82B3D3;
  color: #ffffff;
}

.background-second {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-recommended {}

.advantages-recommended-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.advantages-recommended-item {
  width: 400px;
  height: 384;
  background-color: rgba(131, 179, 211, 0.12);
}

.background-third {
  background-color: #ffffff;
}

.advantages-recommended-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-recommended-item-text {}

.search-hotels {
  text-align: center;
}

.search-hotels-text {
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search-hotels-description {
  padding: 0;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  width: 592px;
}

.search-hotels-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

.subscribe-main-page {
  background: #82B3D3 url("../images/background/subscribe-background.jpeg") no-repeat center center;
  min-height: 400px;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.subscibe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  width:475px;
  text-align: center;
  margin: 0 auto;
}

.subscribe-form-email {
  width: 452px;
}

input[type="email"] {
  width: 50%;
  padding: 14px 10px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  background-color: #E6E6E6;

}

.button-subscribe {
  background-color: #82B3D3;
  text-decoration: none;
  cursor: pointer;
}

.subscribe-form-email {


}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.page-footer {

}
.footer-container{
  display: flex;
  width: 1060px;
 margin: 0 auto;

}

.footer-social-list {
  display: flex;
  width: 142px;
  padding-right: 41;
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
}

.hotels-filters {
  background: #82B3D3 url("../images/background/hotels-filter-background.jpeg") no-repeat center center;
  min-height: 400px;
  background-size: cover;
  color: #ffffff;
}

.inner-header-title {
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.hotels-filter-title {
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
}

.hotels-filter-list,
.catalog-filter-list,
.hotel-filter-cost-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.control {
  line-height: 23px;
}

.button-apply {
  background-color: #82B3D3;
  cursor: pointer;
}

.button-reset {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.result-search-title {
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
}

.hotel-card-item {
  border: 1px solid #E6E6E6;
}

.hotel-card-list {
  list-style: none;
}

.hotel-card-link-title {
  color: inherit;
  text-decoration: none;
}

.hotel-card-title {
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

}

.hotel-card-type-hotel {
  padding: 0;
  margin: 0 auto;
  color: #333333;
}

.hotel-card-price {
  color: #333333;
  font-weight: normal;
}

.hotel-card-more {
  text-decoration: none;
}

.hotel-card-favorite {
  text-decoration: none;
  background-color: #82B3D3;
}

.stars-title {
  margin: 0;
  background: #F2F2F2;
  width: 140px;
}

.pagination {
  list-style: none;
}

/* padding-bottom ниже временная мера, пока не раставлю в сетки пагинацию, чтобы не слипались */
.pagination-item {
  padding-bottom: 5px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 4px;
  text-align: center;
  background: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.subscribe-catalog-page {
  min-height: 400px;
  text-align: center;
}
